<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Seat Allotment</title>

    <style>

    div #topics_subscribed li{
        font-size:1.3em;
        color:black;
        padding-left:1.5em;
        text-decoration:bold;
    }

    </style>
</head>
<body>
    <% include partials/scripts_and_css.ejs %>
    <% include partials/navbar_login.ejs %>
    <div class="container">
    <h1>Excel Sheets Reader</h1>
    
