<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <titlek>Login</title>
    <link rel="stylesheet" href="views/css/bootstrap.css">
    <style>
        body{
            background:linear-gradient(lightblue , blue) ;
            background-attachment: fixed;
            align-content: center ; 
            text-align: center ; 
            font-size:300% ;
        }
    
    </style>
</head>
<body>
    <h1>This is it !</h1>
   <div class="container text-center">
       <form action="login.js" method="post">
            <div class="form-group">
                <label>Email : </label>
                <input class="form-control" type="email" placeholder="Enter Email : "/>
            </div>
            
            <div class="form-group">
                <label>Password : </label>
                <input type="password" placeholder="Enter Password : "/>
            </div>

            <input type="submit" title="Submit" />


       </form>
   </div>
    
</body>
</html>
