<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>


    <!-- <link rel="stylesheet" href="/assets/css/bootstrap.css"> -->
    <style>
        body{
            background:linear-gradient(black, blue) ;
            background-attachment: fixed;
        }
        h1{
            font-size:500% ;
            font-family: Georgia, 'Times New Roman', Times, serif;
            color:whitesmoke;
            text-align: center ; 
            padding:10px 0 ;
        }

        label{
            font-weight: bold ; 
            font-family:caladea ,Georgia, 'Times New Roman', Times, serif;
            color:azure;
            font-size:200% ;
        }

        select{
            -webkit-appearance: menulist-button ;
            height:35px;
            width:110%;

        }
    
    </style>
</head>
<body>

    <h1>Register</h1>
   <div class="container text-center">
       <form action="/register" method="post" autocomplete="on">
            <div class="form-group">
                <label class="col-4">Name : </label>
                <input type="text" name="name" pattern="[a-zA-Z\s]+" autocomplete="name" class="col-3" placeholder="Full Name : " required autofocus/>
            </div>
            
            <div class="form-group">
                <label class="col-4">Email : </label>
                <input type="email" name="email" autocomplete="email" class="col-3 pd-0" placeholder="email@example.com : " required />
            </div>

            <div class="form-group">
                <label class="col-4">Password : </label>
                <input class="col-3"  name="password" minlength="6" autocomplete="new-password" type="password"  placeholder="Password " required/>
            </div>


            <div class="form-group">
                    <label class="col-4" name="state" for="inputState">State : </label>
                    <select onselect="state_selection_changed" class="col-3" id="select_state">
                      <option id="select_state_choose" >Choose...</option>
                    </select>
            </div>

            <div class="form-group">
                <label class="col-4" name="district" for="inputState">District : </label>
                <select onselect="district_selection_changed" class="col-3" id="select_district">
                  <option id="select_state_choose" >Choose...</option>
                </select>
            </div>


            <div class="text-center "></div>
                <input type="submit" class=" btn btn-lg btn-outline-success" title="Submit" />
            </div>

       </form>
   </div>

   <script>
        console.log("This is running !") ;
        var stateslist  = ['Andaman and Nicobar Island (UT)', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh (UT)', 'Chhattisgarh', 'Dadra and Nagar Haveli (UT)', 'Daman and Diu (UT)', 'Delhi (NCT)', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Lakshadweep (UT)']        
        
        stateslist.forEach(ele=>{
            current_html = $("#select_state").html() ; 
            $("#select_state").html(current_html+`<option style="font-size:105%;">${ele}</option>`)
        })

        function state_selection_changed(){
            state = $("#select_state").text() ;
            
            
        }
    </script>
    
</body>
</html>
