  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seat Allotment</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body background="assets/images/bg1.jpg">

    <% include partials/scripts_and_css.ejs %>
    <% include partials/navbar.ejs %>




    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

    <div class="container">
    <br>
    <h1 class="text-decoration">Seat Allotment</h1>
    <br>Add a spreadsheet file containing the seat allotment details...example format will soon follow
    <br><br>
    <div class="view overlay">
      <form method="post" action="/putseats" enctype="multipart/form-data"
        <div class="image-upload">
            <label for="file-input">
                <h4  class="btn btn-info">Browse Spreadsheet File</h4>
            </label>
            <input id="file-input"  type="file" name="seat_file" accept=".xml,.xlsx,.ods" hidden="true"/>
        </div>
        <label for="submit_seats">
            <h4  class="btn btn-info btn-sm">Submit</h4>
        </label>
        <% if(locals.error) {%>
            <div class="animated shake rounded alert alert-danger"   role="alert" id="erroralert"><h2 style="color:black;">Error : <%=error%></h2></div>
        <%}%>

        <% if(locals.success){%>
            <div class="animated zoomIn rounded alert alert-success green" role="alert" id="successalert"><h2 style="color:black"><%=success%></h2></div>
        <%}%>
        <input id="submit_seats" type="submit" hidden>
      </form>
    </div>

    <br><br>

    <!--Card-->
</div>
  <% include partials/footer.ejs %>
   <script>$("#div_footer").css('position' , 'fixed') ;</script>
</body>
