<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>


<body>

  <form ref='uploadForm' id='uploadForm' action='putseats' method='post' encType="multipart/form-data">
      <i class="fa fa-file" ></i>
      <input type="file" name="sampleFile"  class="mdb-skin file"/>

      <span><i class="fa fa-cloud"> </i></span><input type='submit' value='Upload' class="btn btn-primary btn-block btn-mdb" />
  </form>     

</body>

</html>