<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>


<body>
  <div class="gtco-loader"></div>
  <% include partials/scripts_and_css.ejs %>

  <div class="container">
    <form  id='uploadForm' action='/putseats' method='post' encType="multipart/form-data">
        <i class="fa fa-file" ></i>
        
        <input type="text" name="name" placeholder="Name : ">
        <input type="file" name="seat_file"  class="mdb-skin file"/>
        <span><i class="fa fa-cloud"> </i></span><input type='submit' value='Upload' class="btn btn-primary btn-block btn-mdb" />
    </form>     

  </div>
</div>
  <% include partials/footer.ejs %>
   <script>$("#div_footer").css('position' , 'fixed') ;</script>
</body>

</html>