<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Topics</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body background="assets/images/bg1.jpg">
    <div class="gtco-loader"></div>
    <% include partials/scripts_and_css.ejs %>
    <% include partials/navbar.ejs %>

    <h1 class="text-decoration">Create Topic</h1>

    <div class="container">
    <form method="post">

    <% if(locals.topicexists && locals.topicexists) {%>
    <h5 class="animated shake alert alert-danger">Specified Topic already exists ! </h5>
    <%}%>

    <% if(locals.success && locals.success) {%>
    <h5 class="animated zoomIn alert alert-success">Topic Successfully added :)</h5>
    <%}%>

    <div class="form-group">
        <label class="col-4" for="inputState">State : </label>
        <select name="state" onselect="state_selection_changed()" class="col-4" id="select_state" required>
            <option id="select_state_choose" selected disabled hidden>Choose...</option>
        </select>
    </div>

    <div class="form-group">
        <label class="col-4" for="inputState">District : </label>
        <select class="col-4" id="select_district" name="district" required>
            <option id="select_state_choose">Choose...</option>
        </select>
    </div>

    <div class="form-group ">
        <label class="col-4" for="college">College : </label>
        <input placeholder="Indian Institute of Technology" class="col-12" id= "select_college" type="text" required list="collegenameslist" name="college">
        <datalist id="collegenameslist"> </datalist>
    </div> 
   
    <div class="form-group ">
        <label class="col-4" >Topic Name : </label>
        <input required name="topic" type="text" maxlength="15" minlength="2" placeholder="CSE"/> 
    </div>  

    <div class="form-group">
        <label for="desc" class="col-4"> Topic Description : </label>
        <textarea required name="desc" type="text" maxlength="200" minlength="2" id="desc" > </textarea>
    </div> 

    <br> 
    <div class="form-group text-center"><button type="submit" class="btn btn-primary ">Create</button></div>

    </form>

   </div>


   <script src="/assets/js/StateDistCollege.js"></script>

   <% include partials/footer.ejs %>
   <script>$("#div_footer").css('position' , 'fixed') ;</script>

</body>
</html>