<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="public/assets/css/mdb.min.css">
    <!-- Custom fonts for this template -->
    <link href="assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    <link href="assets/vendor/magnific-popup/magnific-popup.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="assets/css/creative.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/css/mdb.min.css" rel="stylesheet">

    </style>
    </head>

  <body id="page-top">


     <header class="masthead text-center text-white d-flex" style="background-image:url(/assets/images/bg2.jpg);">
      <div class="container my-auto" >
        <div class="row">
          <div class="col-lg-10 mx-auto">
            <h1 class="text-uppercase">
              <strong>Welcome Admin</strong>
            </h1>
            <hr>
          </div>
          <div class="col-lg-8 mx-auto">
            <p class="text-faded mb-5">You have successfully logged into the attention please web page!</p>
            <a class="btn btn-danger btn-xl" href="displayprofile">View Profile</a>
          </div>
        </div>      
      </div>
    </header>

    <section id="services" style="background-color: #33b5e5">
      <div class="container" >
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Features</h2>
            <hr class="my-3">
          </div>
        </div>
      </div>

      <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 text-center">
            <div class="service-box mt-5 mx-auto">
            <a href="notifier">
              <div class="card hoverable" style="padding: 20px; background-color: #E3F2FD;"> 
                  <i class="fa fa-4x fa-bell text-primary mb-3 sr-icons"></i>
                <h3 class="mb-3">Notifications</h3>
                <p  class="mb-3">Seamlessly Send Notifications about events college circulars</p>
              </div>
            </a>    
            </div>
            </a>
        </div>

          <div class="col-lg-3 col-md-3 text-center">
            <div class="service-box mt-5 mx-auto">
            <a href="results">                    
             <div class="card hoverable" style="padding: 20px; background-color: #E3F2FD"> 
              <i class="fa fa-4x fa-graduation-cap text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Post Results</h3>
              <p class="mb-3">Post Results that will be viewed directly by students according to their classes.</p>
             </div>
            </a>
          </div>
      </div>

          <div class="col-lg-3 col-md-3 text-center">
            <div class="service-box mt-5 mx-auto">
            <a href="allotseats">
            <div class="card hoverable" style="padding: 20px; background-color: #E3F2FD"> 
              <i class="fa fa-4x fa-group text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Allot Seats</h3>
              <p class="mb-3">Send the desired seating arrangement to the students on their exams.</p>
            </div>
            </a>
            </div>
          </div>

          <div class="col-lg-3 col-md-3 text-center">
            <div class="service-box mt-5 mx-auto">
            <a href="timetable">
            <div class="card hoverable" style="padding: 20px; background-color: #E3F2FD"> 
              <i class="fa fa-4x fa-calendar-check-o text-primary mb-3 sr-icons"></i>
              <h3 class="mb-3">Time Table</h3>
              <p class="mb-3">Send the time-tables to the students as per their classes and semesters.</p>
            </div>
            </a>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="bg-default" id="about" style="background-color: #ffd740">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading text-white">Update Profile Section</h2>
            <hr class="light my-4">
            <p class="text-faded mb-4">Being an admin you can set your profile by updating it with your credentials which will be available to the students in their app.</p>
            <a class="btn btn-danger btn-xl js-scroll-trigger" href="profile">Update Profile</a>
          </div>
        </div>
      </div>
    </section>

    

    

    <section class="bg-dark text-white">
      <div class="container text-center">
        <h2 class="mb-4">Assign/Edit the roles of other members who share the work.</h2>

        

        <a class="btn btn-danger btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Assign New</a>&nbsp&nbsp&nbsp&nbsp
        <a class="btn btn-danger btn-xl sr-button" href="http://startbootstrap.com/template-overviews/creative/">Update Existing</a>
                        
    </section>

    <section id="contact"  style="background-color: #e0f7fa">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Contact Us</h2>
            <hr class="my-4">
            <p class="mb-5">We provide 24/7 service. Contact our team for any issues or queries that you may have. Any feedback for improvement is always appreciated. Feel free to contact us for any such queries.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 ml-auto text-center">
            <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
            <p>9919261377</p>
          </div>
          <div class="col-lg-4 mr-auto text-center">
            <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
            <p>
              <a href="mailto:adi97rao@gmail.com">adi97rao@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="assets/vendor/jquery/jquery.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="assets/vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="assets/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="assets/js/creative.min.js"></script>

    <% include partials/footer.ejs %>
     <script>$("#div_footer").css('position' , 'fixed') ;</script>
  </body>

</html>
