<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <style>
         body{
            /* background:linear-gradient(lightblue , blueviolet) no-repeat fixed ; */
        } 
        h1{
            font-size:500% !important ;
            font-family: raleway , georgia, 'times new roman', times, serif !important ; 
            text-align: center ; 
            padding:10px 0 ;
        } 
    </style>

</head>


<body>
    <% include partials/scripts_and_css.ejs %>
    <script src="/assets/js/dashboard.js"></script>       

    <% if(locals.login && login){%>
    <% include partials/navbar.ejs %>
    <%}else{%>
    <%include partials/navbar_login.ejs%>
    <%} %>

    <h1 class="animated flipInX ">Notify Them </h1>
    <div class="jumbotron container z-depth-5">
        <% if(locals.messageSent && messageSent){ %>
            <div class="alert alert-success text-center" id="alertMessageSent">
                <h4 class="animated zoomIn slow">Notification Sent successfully ! </h4>
            </div>
        <% } %>
        <h3 id="collegename"></h3>
        <div id="location-details">
        </div>
                     
        <form method="post" action="/sendnotification">
            <label style="display:block">Choose to the Topic to which the message needs to be sent : </label>
            <div class="form-group" id="topicslist">
                
            </div>
            <div class="form-group">
                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input class="col-6" id="title" type="text" maxlength="30" minlength="3" name="title" required/>
                    <label for="title">Title : </label>
                </div>
                <br>

                <div class="md-form">
                    <i class="fa fa-pencil prefix"></i>
                    <textarea type="text" id="textareaPrefix" name="description" class="form-control md-textarea" rows="3"></textarea>
                    <label for="textareaPrefix">Description : </label>
                </div>

            </div>

            <div class="form-group">
                
            </div>

            <div class="form-group text-center">
                <button type="submit" class="btn rounded btn-dark-green waves-effect waves-light">Notify</button>
            </div>
        </form>

    </div>

   
    <br><br><br><br><br>
    <% include partials/footer.ejs %>
</body>
</html>