<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

    <style>
         body{
            background:linear-gradient(lightblue , blueviolet) no-repeat fixed ;
        } 
        h1{
            font-size:500% !important ;
            font-family: raleway , georgia, 'times new roman', times, serif !important ; 
            text-align: center ; 
            padding:10px 0 ;
        } 
        h3{
            color:black !important;
            font-family:raleway , caladea , lora  , cambria  !important; 
        }
        
    </style>
</head>

<body>
    
    <% include partials/scripts_and_css.ejs %>
   
    <script src="/assets/js/dashboard.js"></script>       
    
    <% if(locals.login && login){%>
        <% include partials/navbar.ejs %>
        <%}else{%>
        <%include partials/navbar_login.ejs%>
    <%} %>

            
    <h1 class="animated flipInX ">Notify Them </h1>
    <div class="jumbotron container z-depth-1">

    <div class="animated shake hoverable rounded alert alert-danger"  hidden role="alert" id="erroralert"><h2 style="color:black;"></h2></div>

    <div class="animated zoomIn hoverable rounded alert alert-success " hidden role="alert" id="successalert"><h2 style="color:black"></h2></div>

        <h3 id="collegename" class="text-center" style="font-family: raleway"></h3>
        <div id="location-details">
        </div>
                     
        <form method="post" action="/sendnotification">
            
            <div id="dynamic"> </div>
            <div class="form-group">
                <div class="md-form">
                    <i class="fa fa-envelope prefix"></i>
                    <input class="col-6" id="title" type="text" maxlength="30" minlength="3" name="title" required/>
                    <label for="title">Title : </label>
                </div>
                <br>

                <div class="md-form">
                    <i class="fa fa-pencil prefix"></i>
                    <textarea type="text" id="textareaPrefix" name="description" class="form-control md-textarea" rows="3"></textarea>
                    <label for="textareaPrefix">Description : </label>
                </div>

            </div>

            <div class="form-group"> </div>


            <!-- circle icon  -->
            <div class="text-center text-align-center">
                <div id="loader_circle" class="preloader-wrapper big active" hidden> <div class="spinner-layer spinner-blue"> <div class="circle-clipper left"> <div class="circle"></div> </div> <div class="gap-patch"> <div class="circle"></div> </div> <div class="circle-clipper right"> <div class="circle"></div> </div> </div> <div class="spinner-layer spinner-red"> <div class="circle-clipper left"> <div class="circle"></div> </div> <div class="gap-patch"> <div class="circle"></div> </div> <div class="circle-clipper right"> <div class="circle"></div> </div> </div> <div class="spinner-layer spinner-yellow"> <div class="circle-clipper left"> <div class="circle"></div> </div> <div class="gap-patch"> <div class="circle"></div> </div> <div class="circle-clipper right"> <div class="circle"></div> </div> </div> <div class="spinner-layer spinner-green"> <div class="circle-clipper left"> <div class="circle"></div> </div> <div class="gap-patch"> <div class="circle"></div> </div> <div class="circle-clipper right"> <div class="circle"></div> </div> </div> </div>
            </div>    

            <div class="form-group text-center">
                <button type="submit" class="btn rounded btn-dark-green waves-effect waves-light">Notify</button>
            </div>

        </form>

    </div>

   
    <br><br><br><br><br>
    <% include partials/footer.ejs %>
    
</body>


<script>

    function fadeElementAfter(querystring , time=3000 ){
       setTimeout(()=>{
           $("button[type=submit]").attr("disabled" , true) ; 
           $(querystring).fadeOut(()=>{
                $(querystring).attr("hidden" , true) ; 
                $(querystring).show() ; 
           $("button[type=submit]").removeAttr("disabled") ; 
           }) ; 
       } , time ) ;
    }


$("form").on('submit' , e=>{

    e.preventDefault() ;
    $('button[type=submit]').hide() ;
    $("#loader_circle").removeAttr("hidden") ; 

    postdata = {} ;

    $('form').serializeArray().map(ele=> { if(ele.name!='topic') postdata[ele.name] = ele.value} ) ; 
    
    topicslist = [] ; 
    $("input:checkbox[name=topic]:checked").each(function(){
        topicslist.push($(this).val());
    });
    postdata['topic'] = topicslist ; 

    console.log(postdata) ; 

    $.post('/sendnotification' , postdata , (data , status , jqxhr_obj)=>{
        
        if(data.success)
        {
            console.log('success') ;
            $('#successalert').html(`<h3 class="text-center">${data.success}</h3>`)
            $('#successalert').replaceWith($("#successalert").clone().removeAttr('hidden')) ; 
            document.querySelector("form").reset() ; 
            fadeElementAfter("#successalert" , 5000) ; 
        }
        else{
            console.log('error') ; 
            $('#erroralert').html(`<h3 class="text-center">${data.error}</h3>`)
            $('#erroralert').replaceWith($("#erroralert").clone().removeAttr('hidden')) ; 
            fadeElementAfter("#erroralert" , 4000) ; 
        }

        $('button[type=submit]').show() ; 

        $("#loader_circle").attr('hidden' , true) ; 
    })

})


</script>
</html>