<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seat Allotment</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body background="assets/images/bg1.jpg">

    <% include partials/scripts_and_css.ejs %>
    <% include partials/navbar.ejs %>


 

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

    <div class="container">
    <br>
    <h1 class="text-decoration">Seat Allotment</h1>
    <br>Add a spreadsheet file containing the seat allotment details...example format will soon follow
    <br><br>
    <div class="view overlay">
                <div class="image-upload">
                    <label for="file-input">
                        <h4  class="btn btn-info">Browse Spreadsheet File</h4>
                    </label>
                    <input id="file-input" type="file" name="seat_file" accept=".xml,.xlsx,.ods" hidden="true"/>
                </div>
    </div>

    <br><br>
    <script type="text/javascript">
    // var xlsx=require('xlsx');
    //       if(typeof require !== 'undefined') XLSX=require('xlsx');
    //       var workbook=XLSX.readFile('./test.xlsx');
    //       var first_sheet_name=workbook.SheetNames[0];
    //       var address_of_cell='A1';
    //       var worksheet=workbook.Sheets[first_sheet_name];
    //       var desired_cell=worksheet[address_of_cell];
    //       var desired_value=(desired_cell ? desired_cell.v : undefined);
    //       console.log("hello");
    //       console.log(desired_value);
    </script>
    <!--Card-->
</div>
  <% include partials/footer.ejs %>
   <script>$("#div_footer").css('position' , 'fixed') ;</script>
</body>