<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>


<body>

  <% include partials/scripts_and_css.ejs %>

  <div class="container">
    <div class="row"></div>
  </div>

  <div class="card" style="width: 23rem;">
      <!--Card image-->
      <div class="view overlay">
          <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg" class="img-fluid" alt="Card image">
          <a>
              <div class="mask rgba-white-slight waves-effect waves-light"></div>
          </a>
      </div>

      <!--Card content-->
      <div class="card-body">
          <!--Title-->
          <h4 class="card-title">Card title</h4>
          <!--Text-->
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a class="btn btn-primary waves-effect waves-light">Button</a>
      </div>

  </div>

</body>

</html>