  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum Page</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <style type="text/css">
        .accordion.accordion-5 .card {
  border: 0;
  background-color: transparent; }
  .accordion.accordion-5 .card .card-header {
    border: 0;
    background-color: #f44336;
    -webkit-transition: .3s;
    transition: .3s; }
    .accordion.accordion-5 .card .card-header:hover {
      -webkit-transition: .3s;
      transition: .3s;
      background-color: #455a64; }
    .accordion.accordion-5 .card .card-header .fa {
      background-color: #fff;
      border-top-left-radius: 3px; }
  .accordion.accordion-5 .card .card-body {
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px; }
    </style>
</head>
<body background="assets/images/bg1.jpg">

    <% include partials/scripts_and_css.ejs %>
    <% include partials/navbar.ejs %>

    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>

    <div class="container">
    <br>
        <h1 class="text-decoration text-center animated zoomIn">Forum Page</h1>


<!-- Card -->
<div class="card card-image" style="background-image: url(assets/images/bgforum.jpg);">

    <!-- Content -->
    <div class="rgba-black-strong py-5 px-4">
        <div class="row d-flex justify-content-center ">
            <div class="col-md-10 col-xl-8">

                <!--Accordion wrapper-->
                <div class="accordion accordion-5" id="accordionEx5" role="tablist" aria-multiselectable="true">

                    <!-- Accordion card -->
                    <div class="card mb-4" id='playarea'>
                      <!--ques and ans here-->
                      <div class="card-header p-0 z-depth-1" role="tab" id="heading30">
                           <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse30" aria-expanded="true" aria-controls="collapse30">
                               <i class="fa fa-comments fa-2x p-3 mr-4 float-left black-text col-1" aria-hidden="true"></i>
                               <h4 class="text-uppercase white-text mb-0 py-3 mt-1 col-11" name="question_title" class="q1">
                                 Question here
                               </h4>
                           </a>
                       </div>


                       <div id="collapse30" class="collapse" role="tabpanel" aria-labelledby="heading30" data-parent="#accordionEx5">
                           <div class="card-body rgba-black-light white-text z-depth-1">
                               <div class="md-form">
                                    <i class="fa fa-pencil prefix"></i>
                                    <textarea type="text" name="answer" id="textareaPrefix" class="form-control md-textarea" rows="3"></textarea>
                                    <label for="textareaPrefix" class='a1'>Write answer</label>
                               </div>
                           </div>
                       </div>

                    </div>
                    <!-- Accordion card -->


                </div>
                <!--/.Accordion wrapper-->

                <!--Accordion wrapper-->
                <div class="accordion accordion-5" id="accordionEx5" role="tablist" aria-multiselectable="true">

                    <!-- Accordion card -->
                    <div class="card mb-4">

                        <!-- Card header -->
                        <div class="card-header p-0 z-depth-1" role="tab" id="heading30">
                            <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse31" aria-expanded="true" aria-controls="collapse31">
                                <i class="fa fa-comments fa-2x p-3 mr-4 float-left black-text col-1" aria-hidden="true"></i>
                                <h4 class="text-uppercase white-text mb-0 py-3 mt-1 col-11" name="question_title">
                                    Question 2
                                </h4>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapse31" class="collapse" role="tabpanel" aria-labelledby="heading30" data-parent="#accordionEx5">
                            <div class="card-body rgba-black-light white-text z-depth-1">
                                <div class="md-form">
                                     <i class="fa fa-pencil prefix"></i>
                                     <textarea type="text" name="answer" id="textareaPrefix" class="form-control md-textarea" rows="3"></textarea>
                                     <label for="textareaPrefix">Write Answer</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->

                     <!--Accordion wrapper-->
                <div class="accordion accordion-5" id="accordionEx5" role="tablist" aria-multiselectable="true">

                    <!-- Accordion card -->
                    <div class="card mb-4">

                        <!-- Card header -->
                        <div class="card-header p-0 z-depth-1" role="tab" id="heading30">
                            <a data-toggle="collapse" data-parent="#accordionEx5" href="#collapse32" aria-expanded="true" aria-controls="collapse32">
                                <i class="fa fa-comments fa-2x p-3 mr-4 float-left black-text col-1" aria-hidden="true"></i>
                                <h4 class="text-uppercase white-text mb-0 py-3 mt-1 col-11" name="question_title">
                                    Question 3
                                </h4>
                            </a>
                        </div>

                        <!-- Card body -->
                        <div id="collapse32" class="collapse" role="tabpanel" aria-labelledby="heading30" data-parent="#accordionEx5">
                            <div class="card-body rgba-black-light white-text z-depth-1">
                                <div class="md-form">
                                     <i class="fa fa-pencil prefix"></i>
                                     <textarea type="text" name="answer" id="textareaPrefix" class="form-control md-textarea" rows="3"></textarea>
                                     <label for="textareaPrefix">Write Answer</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card -->

                    
                </div>

            </div>
        </div>
    </div>
    <!-- Content -->
</div>
<!-- Card -->


    </div>
</div>

   

    <script src="/assets/js/forum.js"></script>
     <% include partials/footer.ejs %>
   <script>$("#div_footer").css('position' , 'fixed') ;</script>
</body>
