<!DOCTYPE HTML>
<!--
	Solid by gettemplates.co
	Twitter: http://twitter.com/gettemplateco
	URL: http://gettemplates.co
-->
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Namma SIT</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive"
	/>
	<meta name="author" content="gettemplates.co" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href='https://fonts.googleapis.com/css?family=Raleway:400,300,600,400italic,700' rel='stylesheet' type='text/css'>

	<!-- Animate.css -->
	<link rel="stylesheet" href="/assets/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="/assets/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="/assets/css/bootstrap.css">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="/assets/css/magnific-popup.css">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
	<link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">

	<!-- Theme style  -->
	<link rel="stylesheet" href="/assets/css/style.css">

	<!-- Modernizr JS -->
    <script src="/assets/js/modernizr-2.6.2.min.js"></script>
    
    <script src="https://www.gstatic.com/firebasejs/4.8.1/firebase.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

</head>

<body background="assets/images/bg1.jpg">

	<div class="gtco-loader"></div>

	<div id="page">
		<nav class="gtco-nav sticky-top " role="navigation">
			<div class="gtco-container">
				<div class="row">
					<div class="col-xs-2">
						<div id="gtco-logo">
							<a href="index.html">Namma SIT.</a>
						</div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li class="active">
								<a href="index.html">Home</a>
							</li>

							<li>
								<a href="#gtco-features">Features</a>

							</li>
							<li>
								<a href="#gtco-team">Team</a>
							</li>


						</ul>
					</div>
				</div>

			</div>
		</nav>

		<header id="gtco-header" class="gtco-cover" role="banner" style="background-image:url(/assets/images/img_bg_1.jpg);">
			<div class="overlay"></div>
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-center">
						<div class="display-t">
							<div class="display-tc animate-box" data-animate-effect="fadeIn">
								<h1></h1>
									<% if(locals.error) {%>
									<div class="animated shake rounded alert alert-danger"   role="alert" id="erroralert"><h2 style="color:black;">Error : <%=error%></h2></div>
									<%}%>

									<% if(locals.success){%> 
									<div class="animated zoomIn rounded alert alert-success green" role="alert" id="successalert"><h2 style="color:black"><%=success%></h2></div>
									<%}%>
								<h2></h2>
								<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
								<p>
									<a href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#login">Login</a>
									<a href="#" class="btn btn-white btn-outline btn-lg c_btn" data-toggle="modal" data-target="#register">Register</a>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<br><br><br><br>
		<div class="carousel slide" data-ride="carousel" id="carousel-1">
        <div class="carousel-inner" role="listbox">
            <div class="item active"><img src="assets/images/3.png" alt="Slide Image"></div>
            <div class="item"><img src="assets/images/6.jpg.png" alt="Slide Image"></div>
            <div class="item"><img src="assets/images/4.jpg.png" alt="Slide Image"></div>
        </div>
        <div><a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i><span class="sr-only">Previous</span></a>
            <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i><span class="sr-only">Next</span></a>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-1" data-slide-to="1"></li>
            <li data-target="#carousel-1" data-slide-to="2"></li>
        </ol>
</div>


	

		<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header" align="center">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Login</h4>
					</div>

					<div class="modal-body">
						<form id="form_login">

							<div class="form-group">
								<label class="control-label">Email</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="icon-email"></i>
									</div>
									<input class="form-control input-lg" placeholder="email" type="text" name="email">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label">Password</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="icon-lock2"></i>
									</div>
									<input class="form-control input-lg" placeholder="password" type="password" name="password">
								</div>
							</div>

							<div class="alert animated shake alert-danger hidden erroralert"></div>

							<div id="div_submit">
								<button class="btn btn-primary btn-lg " type="submit">Submit </button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header" align="center">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title" id="myModalLabel">Register</h4>
					</div>

					<div class="modal-body">
						<form method="post" action="register">
							<div class="form-group">
								<label class="control-label">Name</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="icon-user"></i>
									</div>
									<input class="form-control input-lg" placeholder="name" type="text" name="name">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Email</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="icon-email"></i>
									</div>
									<input class="form-control input-lg" placeholder="email" type="text" name="email">
								</div>
							</div>

							<div class="form-group">
								<label class="control-label">Password</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="icon-lock2"></i>
									</div>
									<input class="form-control input-lg" placeholder="password" type="password" name="password">
								</div>
							</div>


							<div class="form-group">
								<label class="control-label">College ID : </label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="icon-book"></i>
									</div>
									<input class="form-control input-lg" name="regno" type="text" placeholder="eg : 1KI18CS062">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">Phone No</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="icon-mobile"></i>
									</div>
									<input class="form-control input-lg" type="text" name="phone" minlength="9" maxlength="10" placeholder="eg : 9477744488">
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">State :</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="icon-address"></i>
									</div>
									<select name="state" data-style="form-control" onselect="state_selection_changed()" class="form-control selectpicker m-b-20 m-r-10"
									    id="select_state" required>
										<option id="select_state_choose" selected disabled hidden>Choose...</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">District</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="icon-location2"></i>
									</div>
									<select class="form-control selectpicker m-b-20 m-r-10" data-style="form-control" id="select_district" name="district" required>
										<option id="select_state_choose">Choose...</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label">College</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="icon-graduation-cap"></i>
									</div>
									<input placeholder="Indian Institute of Technology" class="form-control input-lg" id="select_college" type="text" required
									    list="collegenameslist" name="college">
									<datalist id="collegenameslist"> </datalist>
								</div>
							</div>
							<div id="div_submit">
								<button class="btn btn-primary btn-lg " type="submit">Submit </button>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
		<div id="gtco-features">
			<div class="gtco-container">
				<div class="row animate-box">
					<div class="text-center gtco-heading">
						<h2>Features</h2>

					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
						<div class="feature-center">
							<span class="icon">
								<i class="icon-mobile"></i>
							</span>
							<h3>Mobile App</h3>
							<p>Enjoy the same features in your mobile app. Here's the link to the mobile app version : 'link'.</p>
							<p>
								<a href="#" class="btn btn-primary btn-outline">Know More</a>
							</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
						<div class="feature-center">
							<span class="icon">
								<i class="icon-bell"></i>
							</span>
							<h3>Notifications</h3>
							<p>Receive notifications on the subscribed topics and important news.</p>
							<p>
								<a href="#" class="btn btn-primary btn-outline">Know More</a>
							</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
						<div class="feature-center">
							<span class="icon">
								<i class="icon-monitor"></i>
							</span>
							<h3>Easy to use</h3>
							<p>The User Interface is very friendly so as to allow users to have an immersive experience. Digitizing the entire college
								life and processes is done right here..</p>
							<p>
								<a href="#" class="btn btn-primary btn-outline">Know More</a>
							</p>
						</div>
					</div>

					<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
						<div class="feature-center">
							<span class="icon">
								<i class="icon-clock"></i>
							</span>
							<h3>Support</h3>
							<p>Our representatives are available all the time to clear any queries that you may have..</p>
							<p>
								<a href="#" class="btn btn-primary btn-outline">Know More</a>
							</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
						<div class="feature-center">
							<span class="icon">
								<i class="icon-contract"></i>
							</span>
							<h3>Manage</h3>
							<p>Update your profile any time you want subscribe to topics you feel like following and customize this experience as
								per your choices</p>
							<p>
								<a href="#" class="btn btn-primary btn-outline">Know More</a>
							</p>
						</div>
					</div>
					<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
						<div class="feature-center">
							<span class="icon">
								<i class="icon-users"></i>
							</span>
							<h3>Forum</h3>
							<p>The forum section let's students interact with their faculty and clear any doubts that they may have..</p>
							<p>
								<a href="#" class="btn btn-primary btn-outline">Know More</a>
							</p>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div id="gtco-team" class="gtco-section">
			<div class="gtco-container">
				<div class="row animate-box">
					<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
						<h2>Our Team </h2>
					</div>
				</div>
				<div class="row row-pb-md">
					<div class="col-md-4 animate-box" data-animate-effect="fadeIn">
						<div class="gtco-staff">
							<img src="/assets/images/person_1.jpg" alt="Free HTML5 Templates by gettemplates.co">
							<h3>Natesh </h3>
							<strong class="role">Team Lead</strong>
							<p>RANDOM TEXT TO BE REPLACED</p>
							<ul class="gtco-social-icons">
								<li>
									<a href="#">
										<i class="icon-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-dribbble"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-github"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 animate-box" data-animate-effect="fadeIn">
						<div class="gtco-staff">
							<img src="/assets/images/person_2.jpg" alt="Free HTML5 Templates by gettemplates.co">
							<h3>Gangadhar</h3>
							<strong class="role">Android Developer</strong>
							<p>Random Text To Be Replaced</p>
							<ul class="gtco-social-icons">
								<li>
									<a href="#">
										<i class="icon-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-dribbble"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-github"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 animate-box" data-animate-effect="fadeIn">
						<div class="gtco-staff">
							<img src="/assets/images/person_3.jpg" alt="Free HTML5 Templates by gettemplates.co">
							<h3>Aditya</h3>
							<strong class="role">Front-end Developer</strong>
							<p>Random Text To Be Replaced</p>
							<ul class="gtco-social-icons">
								<li>
									<a href="#">
										<i class="icon-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-dribbble"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-github"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4 animate-box" data-animate-effect="fadeIn">
						<div class="gtco-staff">
							<img src="/assets/images/person_1.jpg" alt="Free HTML5 Templates by gettemplates.co">
							<h3>Nikith</h3>
							<strong class="role">UI Designer</strong>
							<p>Random Text To Be Replaced</p>
							<ul class="gtco-social-icons">
								<li>
									<a href="#">
										<i class="icon-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-dribbble"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-github"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 animate-box" data-animate-effect="fadeIn">
						<div class="gtco-staff">
							<img src="/assets/images/person_2.jpg" alt="Free HTML5 Templates by gettemplates.co">
							<h3>Shreya</h3>
							<strong class="role">Android Developer</strong>
							<p>Random Text To Be Replaced</p>
							<ul class="gtco-social-icons">
								<li>
									<a href="#">
										<i class="icon-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-dribbble"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-github"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div class="col-md-4 animate-box" data-animate-effect="fadeIn">
						<div class="gtco-staff">
							<img src="/assets/images/person_3.jpg" alt="Free HTML5 Templates by gettemplates.co">
							<h3>Karan</h3>
							<strong class="role">Back-end Developer</strong>
							<p>Random Text To Be Replaced</p>
							<ul class="gtco-social-icons">
								<li>
									<a href="#">
										<i class="icon-facebook"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-twitter"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-dribbble"></i>
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-github"></i>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>







	</div>



	<!-- jQuery -->
	<script src="/assets/js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="/assets/js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="/assets/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="/assets/js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="/assets/js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="/assets/js/jquery.countTo.js"></script>
	<!-- Magnific Popup -->
	<script src="/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="/assets/js/magnific-popup-options.js"></script>
	<!-- Main -->
	<script src="/assets/js/firebaseinit.js"></script>
	<script src="/assets/js/main.js"></script>
    <script src="/assets/js/homepage.js"></script>
    <script src="/assets/js/StateDistCollege.js"></script>
    


</body>

</html>