<!DOCTYPE html>
<html >
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>

<!-- JQUERY AND BOOTSTRAP --> 

<% include partials/scripts_and_css.ejs %>

        <style>
        body{
            background:linear-gradient(lightblue , blueviolet) no-repeat fixed ;
        }

        h1{
            font-size:500% ;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-align: center ; 
            padding:10px 0 ;
        }

        label{
            font-weight: bold ; 
            font-family: caladea , Georgia, 'Times New Roman', Times, serif ; 
            font-size:200% ;
        }
    </style>
</head>



<body>

<% include partials/navbar.ejs %>

    <h1>Login</h1>
   <div class="container text-center">
       <form method="post"  autocomplete="on">
               
                <div class="form-group">
                    <label class="col-4">Email : </label>
                    <input type="email" name="email" autocomplete="email" class="col-3" placeholder="email@example.com " required />
                </div>
                
            <div class="form-group">
                <label class="col-4">Password : </label>
                <input class="col-3" type="password" autocomplete="current-password" minlength="6" name="password" placeholder="Enter Password : " required/>
            </div>

            <div id="erroralert" style="display:none;" class="animated shake alert alert-danger">
            </div>

            <!-- HANDLE POST SUBMIT CLICK RESPONSES -->
            <div class="animated shake rounded alert alert-danger " style="display:none;" role="alert" id="erroralert"></div>
            <div class="animated bounceIn rounded alert alert-success " style="display:none;" role="alert" id="successalert"></div>


            <div class="text-center ">
                <input type="submit" id="btn_submit"  class=" btn btn-lg btn-success"   title="Login" />
            </div>

            <br><br>
            <hr>
            <br>

        </form>


        <div class="text-center">
            <a href="/register" class="font-bold" style="color:black">New User ? Register here</a>
            <br>
            <a  href="#" class="font-bold" style="color:black">Forgot Password !</a>
        </div>

    </div>

 <% include partials/footer.ejs %>
    
<script>

$("#div_footer").css('position' , 'absolute') ;

    const setcookie=(callback )=>firebase.auth().currentUser && firebase.auth().currentUser.getIdToken().then(token=>{
        console.log(token) ; 
        
        Cookies.set('firebase-token' , token , {
            domain : window.location.hostname , 
            expire : 1/ 24  , 
            path : '/' , 
            secure : true 
        })
        console.log("cookie set ! ") ;
        callback() ;
    })



    //SUBMIT HANDLER
    $("form").bind("submit" , function(event){
        console.log("running submit handler ! ") ;
        formdata = {} ; 
        $("form").serializeArray().forEach(ele=>formdata[ele.name]=ele.value) ; 

        firebase.auth().signInWithEmailAndPassword(formdata.email , formdata.password)
        .then(user=>{
            firebase.auth().onAuthStateChanged(user=>{
                console.log("running auth state changed ! ") ;

                if(!user) {
                    console.log("User logged out !") ; 
                    return ; 
                }   

                //user is logged in 
                setcookie(()=>{
                    setInterval(setcookie , 3500) ;
                    window.location = "dashboard"  ;
                })

                })
        })        
        .catch(error=>{
            $("#erroralert").replaceWith($("#erroralert").clone());
            $("#erroralert").html(`<h5 class="animated  p-2">${error.message}</h5>`) ;
            $("#erroralert").fadeIn() ;
        })

    event.preventDefault() ;
    })


    
</script>
</body>
</html>