<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>
    <style>

    div #topics_subscribed li{
        font-size:1.3em;
        color:black;
        padding-left:1.5em;
        text-decoration:bold ;
    }

    </style>
</head>
<body background="assets/images/bg1.jpg">
<body>
    <div class="gtco-loader"></div>
    <% include partials/scripts_and_css.ejs %>
    <% include partials/navbar.ejs %>
    <div class="container">

<br><br>

<!--Card-->
    <div class="card" style="background-color: white">
        <!--Card image-->
        <div class="view overlay">
            <center>
                <div class="image-upload">
                    <label for="file-input">
                        <img src="assets/images/user.png" class="img-fluid" height="25px" width="250px">
                    </label>

                    <input id="file-input" type="file" hidden="true"/>
                </div>
            </center>
        </div>

        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h1 class="card-title" align="center">Profile</h1>
            <!--Text-->
           <form>
        <div class="row">
            <div class="col">
                <div class="md-form">
                    <input class="form-control" required  id="name" name="name" type="text" />
                    <label for="form1">Enter Name</label>
                </div>
            </div>

            <div class="col">
                <div class="md-form">
                    <input class="form-control" id="email" name="email" type="email" required/>
                    <label for="form1">Enter E-Mail</label>
                </div>
            </div>
        </div>
<vr>
        <dl><br>
            <h4>Existing Topics : </h4>
            <dd>
                <div class="row">
                    <div class="list-group col-3 rounded mt-2" id="topics_subscribed"> </div>
                </div>
            </dd>
        </dl>

        <hr>



    <dl class="form-group mt-5">
        <label for="user_profile_location"><h4>Location Info : </h4></label>
        <dd>
            <div class="form-group">
                <label  for="inputState">State : </label>
                    <input type="text" class="form-control" id="select_state" readonly>
            </div>

            <div class="form-group">
                <label  for="inputState">District : </label>
                    <input class="form-control" type="text" id="select_district" readonly>
            </div>

            <div class="form-group ">
                <label for="select_college">College : </label>
                <input class="form-control" id= "select_college" type="text" readonly >
            </div>
        </dd>
    </dl>

    <!--Basic textarea-->
    <center><h2 class="Text">About Yourself</h2></center>
        <div class="md-form">
          <textarea type="text" id="textareaBasic" class="form-control md-textarea" rows="3"></textarea>
          <label for="textareaBasic">About Yourself</label>
        </div>

    <center><h2 class="Text">Social Media Links</h2></center>
    <div class="row">
            <div class="col">
                <div class="md-form">
                    <input type="text" id="inputMDEx" class="form-control">
                    <label for="inputMDEx"><i class="fa fa-facebook"></i> link</label>
                </div>
            </div>

        <div class="col">
            <div class="md-form">
                <input type="text" id="inputMDEx" class="form-control">
                <label for="inputMDEx"><i class="fa fa-twitter pr-1"></i>  link</label>
            </div>
        </div>

        <div class="col">
            <div class="md-form">
                <input type="text" id="inputMDEx" class="form-control">
                <label for="inputMDEx"><i class="fa fa-linkedin pr-1"></i> link</label>
            </div>
        </div>

        <div class="col">
            <div class="md-form">
                <input type="text" id="inputMDEx" class="form-control">
                <label for="inputMDEx"><i class="fa fa-github pr-1"></i> link</label>
            </div>
        </div>
    </div>

<br>

    <center><h2 class="Text">Experience</h2></center>
    <div class="row">
        <div class="col">
            <div class="md-form form-lg">
                <input type="text" id="inputLGEx" class="form-control form-control-lg">
                <label for="inputLGEx">Enter current position</label>
            </div>
        </div>

        <div class="col">
            <div class="md-form form-lg">
                <input type="text" id="inputLGEx" class="form-control form-control-lg">
                <label for="inputLGEx">Enter previous position</label>
            </div>
        </div>
        <!-- <p><button type="submit" class="btn btn-primary">Update profile</button></p> -->
    </div>
    </form>
    </div>

    </div>
    <!--/.Card-->

<br><br>

<br><br>

<script>

let user_global ;

function getformdata(){
    form = {} ;
    $('form').serializeArray().forEach(ele=>{
        form[ele.name] = ele.value ;
    })
    return form ;
}



function init_user(){
    return new Promise((resolve , reject)=>{
        user_global = firebase.auth().currentUser ;
        if(!user_global){
            firebase.auth().onAuthStateChanged(user=>{
                if(user)
                    resolve(user_global = user) ;
                else
                    window.location = 'login' ;
            });
        }
        else resolve(user_global) ;
    }) ;
}



//Set the form element values
init_user()
.then(user=>{
    ref = firebase.database().ref('/adminusers/' + user_global.uid) ;
    ref.once('value', snap=>
    {
        userinfo = snap.val() ;
        firebase.database().ref(`/Colleges/${userinfo.ccode}/topics/`).once('value' , shot=>{
            topics = shot.val() ;
            console.log(userinfo , topics) ;
            userinfo.name = user_global.displayName  ;
            userinfo.email = user_global.email ;

            Object.getOwnPropertyNames(topics).forEach(ele=>{
                $("#topics_subscribed").append(`<button class="list-group-item waves-effect font-small">${topics[ele].title}</button>`) ;
            })
            $("#email").val(userinfo.email) ;
            $("#name").val(userinfo.name) ;
            $('#biodata').html(userinfo.biodata) ;
            $('#select_college').val(userinfo.college);
            $('#select_state').val(userinfo.state);
            $('#select_district').val(userinfo.district) ;
        }) ;
    })
})




//Update the user data in the firebase database on submit !
$('form').on('submit' , (event)=>{

    let auth = firebase.auth() ;
    let list_topics = $('.list-topics-subbed') ;
    let topics = new Array() ;

    list_topics.each(index =>{
        topics.push(list_topics[index].innerText) ;
    })

    let form = getformdata() ;
    form['topics'] = topics ;

    console.log(form) ;

    $.ajax({
        url: "updateprofile",
        type: "post",
        data: form,
        success: function (response) {
           console.log(response) ;
        } ,
        error: function(err){
            console.log(err) ;
        }
    });

    event.preventDefault();
})


</script>
</div>
  <% include partials/footer.ejs %>
   <script>$("#div_footer").css('position' , 'fixed') ;</script>
</body>
</html>
