<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Profile</title>

    <style>

    div #topics_subscribed li{
        font-size:1.3em;
        color:black;
        padding-left:1.5em;
        text-decoration:bold ;
    }

    </style>
</head>
<body>
    <% include partials/scripts_and_css.ejs %>
    <% include partials/navbar_login.ejs %>
    <div class="container">
    
<br><br>

<!--Card-->
    <div class="card" style="background-color: #BBDEFB">
        <!--Card image-->
        <div class="view overlay">
            <center><img src="assets/images/user.png" class="img-fluid" alt="" height="300px" width="300px"></center>
            <a href="#">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!--Card content-->
        <div class="card-body">
            <!--Title-->
            <h4 class="card-title" align="center">My Profile</h4>
            <!--Text-->
           <form >
        <dl class="form-group">
            <br><dt><label for="user_profile_name">Name</label></dt>
            <dd><input class="form-control" required  id="name" name="name" size="30" type="text" /></dd>
        </dl>
        <dl class="form-group">
            <dt><label for="user_profile_email">Email</label></dt>
            <dd>
                <input class="form-control" id="email" name="email" type="email" required>
            </dd>
        </dl>

        <dl>
            <dt>Topics Subscribed</dt>
            <dd>
            <div class="list-group" id="topics_subscribed">
            </div>
            </dd>
        </dl>


    <dl class="form-group">
        <dt><label for="user_profile_location">Location</label></dt>
        <dd>
            <div class="form-group">
                <label class="col-4" for="inputState">State : </label>
                <select name="state" onselect="state_selection_changed()" class="col-4" id="select_state" required>
                    <option id="select_state_choose" selected disabled hidden>Choose...</option>
                </select>
            </div>

            <div class="form-group">
                <label class="col-4" for="inputState">District : </label>
                <select class="col-4" id="select_district" name="district" required>
                    <option id="select_state_choose">Choose...</option>
                </select>
            </div>

            <div class="form-group ">
                <label class="col-4" for="college">College : </label>
                <input placeholder="Indian Institute of Technology" class="col-12" id= "select_college" type="text" required list="collegenameslist" name="college">
                <datalist id="collegenameslist"> </datalist>
            </div>

        </dd>
    </dl>
        <p><button type="submit" class="btn btn-primary">Update profile</button></p>
    </div>
    </form>
    </div>

    </div>
    <!--/.Card-->

<br><br>





<br><br>

    

<script src="/assets/js/StateDistCollege.js"></script>
<script>

let user_global ;

function getformdata(){
    form = {} ;
    $('form').serializeArray().forEach(ele=>{
        form[ele.name] = ele.value ;
    })
    return form ;
}



function init_user(){
    return new Promise((resolve , reject)=>{
        user_global = firebase.auth().currentUser ;
        if(!user_global){
            firebase.auth().onAuthStateChanged(user=>{
                if(user)
                    resolve(user_global = user) ;
                else
                    window.location = 'login' ;
            });
        }
        else resolve(user_global) ;
    }) ;
}



//Set the form element values
init_user()
.then(user=>{
    ref = firebase.database().ref('/adminusers/' + user_global.uid) ;
    ref.once('value', snap=>
    {
        userinfo = snap.val() ;
        console.log(userinfo) ;
        userinfo.name = user_global.displayName  ;
        userinfo.email = user_global.email ;
        console.log(userinfo) ;

        Object.keys(userinfo).forEach(key => {
            $(`input[name="${key}"]`).val(userinfo[key]);
        })
        $('#biodata').html(userinfo.biodata) ;

        $('#select_state').val(userinfo.state);
        $('#select_state').trigger('change') ;
        $('#select_district').val(userinfo.district) ;
        }) ;
})




//Update the user data in the firebase database on submit !
$('form').on('submit' , (event)=>{

    let auth = firebase.auth() ;
    let list_topics = $('.list-topics-subbed') ;
    let topics = new Array() ;

    list_topics.each(index =>{
        topics.push(list_topics[index].innerText) ;
    })

    let form = getformdata() ;
    form['topics'] = topics ;

    console.log(form) ;

    $.ajax({
        url: "updateprofile",
        type: "post",
        data: form,
        success: function (response) {
           console.log(response) ;
        } ,
        error: function(err){
            console.log(err) ;
        }
    });

    event.preventDefault();
})


</script>
</div>


<% include partials/footer.ejs %>
</body>
</html>
