<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>

    <% include partials/scripts_and_css.ejs %>

        <style>
            body {
                background: linear-gradient(rgb(30, 98, 138), rgb(7, 87, 14)) no-repeat fixed ;
                background-attachment: fixed;
            }

            h1 {
                font-size: 500%;
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: whitesmoke;
                text-align: center;
                padding: 10px 0;
            }

            label {
                font-weight: bold;
                font-family: caladea, Georgia, 'Times New Roman', Times, serif;
                color: azure;
                font-size: 200%;
            }

            select {
                -webkit-appearance: menulist-button;
                height: 35px;
                width: 110%;
            }
        </style>
</head>



<body>

    <% include partials/navbar.ejs %>

    <h1>Register</h1>
    <div class="container text-center">
        <form method="post" action="/register" id="form_register" autocomplete="on">
            <div class="form-group">
                <label class="col-4">Name : </label>
                <input type="text" name="name" pattern="[a-zA-Z\s]+" autocomplete="name" class="col-4" placeholder="Full Name : " required
                    autofocus/>
            </div>

            <div class="form-group">
                <label class="col-4">Email : </label>
                <input type="email" name="email" autocomplete="email" class="col-4 pd-0" placeholder="email@example.com : " required />
            </div>

            <div class="form-group">
                <label class="col-4">Password : </label>
                <input class="col-4" name="password" minlength="6" autocomplete="new-password" type="password" placeholder="Password " required/>
            </div>

            <div class="form-group">
                <label class="col-4">Registration No : </label>
                <input class="col-4" name="regno" type="text" placeholder="eg : 1KI18CS062" />
            </div>

            <div class="form-group">
                <label class="col-4">Phone No : </label>
                <span id="basic-addon1" style="color:white;">+91</span>
                <input class="col-4" type="text" name="phone" minlength="9" maxlength="10" placeholder="eg : 9477744488">
            </div>

            <div class="form-group">
                <label class="col-4" for="inputState">State : </label>
                <select name="state" onselect="state_selection_changed()" class="col-4" id="select_state" required>
                    <option id="select_state_choose" selected disabled hidden>Choose...</option>
                </select>
            </div>

            <div class="form-group">
                <label class="col-4" for="inputState">District : </label>
                <select class="col-4" id="select_district" name="district" required>
                    <option id="select_state_choose">Choose...</option>
                </select>
            </div>

            <div class="form-group ">
                <label class="col-4" for="college">College : </label>
                <input placeholder="Indian Institute of Technology" class="col-12" id= "select_college" type="text" required list="collegenameslist" name="college">
                <datalist id="collegenameslist"> </datalist>
            </div>

            <div class="form-group ">
                <label class="col-4" for="year">Year of Study : </label>
                <select style="width:35px ;" name="year"  type="text" required >
                    <option>1</option><option>2</option><option>3</option><option>4</option><option>5</option><option>6</option>
                </select>
            </div>

            


            <% if(locals.error) {%>
                <div class="animated shake rounded alert alert-danger "  role="alert" id="erroralert"><%=error%></div>
            <%}%>

            <% if(locals.success){%> 
            <div class="animated zoomIn rounded alert alert-success " role="alert" id="successalert"><%=success%></div>
            <%}%>

            <br>
            <br>
            <div class="text-center "></div>
            <input id="btn_submit" type="submit" class=" btn btn-lg btn-primary" title="Submit" />

    </div>
    </form>

    </div>

<script src="/js/StateDistCollege.js"></script>

<% include partials/footer.ejs %>
</body>

</html>