    
 <footer id="footer">
 <br><br><br><br>
  <div id="div_footer">
    <p style="bottom : 0 ;margin :0;padding-top:10px ;">
        Team COSMOS
    </p>

    <p>
      Smart India Hackathon
    </p>
  </div>
</footer>  