<ul id="navigation-bar">
        <li><a href="index.html">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
        <li id= "nav_settings" style="float:right"><a href="#">Settings</a></li>
</ul>