<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark primary-color">

    <!-- Navbar brand -->
    <a class="navbar-brand" class="nav-link" href="index.html">Home</a>

    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav" aria-controls="basicExampleNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">

        <!-- Links -->
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="dashboard">Send Notifications</a>
            </li>
<<<<<<< HEAD
            <li class="nav-item">
=======
            <li class="nav-item active">
>>>>>>> 6e7b04002dcb554fea199fea40f3fc71d9224b72
                <a class="nav-link" href="profile" id="nav_settings">Profile
                    <span class="sr-only">(current)</span>
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="createtopic">Create</a>
            </li>
<<<<<<< HEAD

            <li class="nav-item">
                <a class="nav-link" href="displayprofile">Display Profile
                    <span class="sr-only">(current)</span>
                </a>
            </li>

=======
>>>>>>> 6e7b04002dcb554fea199fea40f3fc71d9224b72
            <li class="nav-item">
                <a class="nav-link" href="timetable">Time Table</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="expr">Seat Allotment</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="logout" id="nav_logout">Logout</a>
            </li>

        </ul>
        <!-- Links -->
        <form class="form-inline">
            <div class="md-form mt-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            </div>
        </form>
    </div>
    <!-- Collapsible content -->

</nav>
 