<ul id="navigation-bar">
        <li><a href="index.html">Home</a></li>
        <li><a href="login">Login</a></li>
        <li><a href="register">Register</a></li>
        <li style="float:right"><a href="profile" id="nav_settings">Profile</a></li>
        <li style="float:right"><a href="#" id="nav_logout">Logout</a></li>
        <li><a href="createtopic">Create</a></li>
</ul>